Vue.component('app-header', {
  template: '<b-alert show>Asp.Net Core + Vue + Bootstrap-Vue demo app!</b-alert>'
});

Vue.component('app-footer', {
  template: '<footer><p>&copy; 2017 - AspNetVueSite</p></footer>'
});